.body_container{
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 80vh; 
  background-color: rgb(245, 219, 181);
  padding: 20px;
}

.form_div{
  margin-right: 20px; 
}

@media screen and (max-width: 768px) {
  .body_container {
    flex-direction: column;
  }
  .form_div {
    margin-right: 0; 
    margin-bottom: 20px; 
  }
}


